In [ ]:
import os
import pandas as pd

# Path to the directory containing the files
directory_path = r"c:\Users\ksree\Documents\Git\ASME\Tablicy"

# List to store dataframes
dataframes = []

# Iterate through files in the directory
for file_name in sorted(os.listdir(directory_path)):
    if file_name.startswith("Table 1A"):
        print(f"Processing file: {file_name}")
        file_path = os.path.join(directory_path, file_name)
        
        # Read the file with error handling for encoding
        try:
            with open(file_path, 'r', encoding='utf-8') as file:
                lines = file.readlines()
        except UnicodeDecodeError:
            with open(file_path, 'r', encoding='latin-1', errors='replace') as file:
                lines = file.readlines()
        
        # Extract header from the first file and transform it
        if not dataframes:  # Check if this is the first file being processed
            header = lines[0].strip().split()  # Split by whitespace
            df = pd.DataFrame(columns=header)
        
        # Add rows to the dataframe
        for line in lines[1:]:
            row = line.strip().split()
            if len(row) == len(header):  # Check if the row matches the header length
                df.loc[len(df)] = row
            else:
                print(f"Skipping mismatched row in file {file_name}: {row}")
        
        # Append the dataframe
        dataframes.append(df)

# Combine all dataframes into one final dataframe
final_dataframe = pd.concat(dataframes, ignore_index=True)

# Display the final dataframe
print(final_dataframe)

In [29]:
import pandas as pd

def list_from_stroka(filename, No):
    file_path = filename

    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            lines = file.readlines()  # Считываем все строки файла
            
            # Проверяем, что номер строки находится в допустимых пределах
            if 1 <= No <= len(lines):
                string = lines[No - 1].strip()
 #               print(f"Строка номер {No}: {lines[No - 1].strip()}")
            else:
                print(f"Ошибка: файл содержит только {len(lines)} строк(и).")
    except FileNotFoundError:
        print(f"Ошибка: файл '{file_path}' не найден.")
    except UnicodeDecodeError:
        print(f"Ошибка: не удалось декодировать файл. Проверьте его кодировку.")


    # Результирующий список
    result = string.split()

    # Выводим результат
 #   print(result)

    # Исходный список
    original_list = result

    # Результирующий список
    new_list = []

    for item in original_list:
        if isnumber(item):  # Если элемент представляет число
            new_list.append(float(item))  # Преобразуем в число и добавляем
        else:  # Если элемент не число
            new_list.extend(['Nan'] * len(item))  # Добавляем 'Nan' столько раз, какова длина элемента

    # Выводим результат
    return new_list

def isnumber(item):
    try:
        # Попытка преобразовать в float
        number = float(item)
        return True
    except ValueError:
        return False        # Если ошибка преобразования


list_of_list = []
Novhoda = 7104
No = Novhoda
head = list_from_stroka('initialASME.txt', No)
print(head)
for No in range(Novhoda + 1, Novhoda + 46):
    string = list_from_stroka('initialASME.txt', No)
    string.pop(0)
    list_of_list.append(string)
    print(string)


df = pd.DataFrame(list_of_list, columns=head)

[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 226.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 227.0, 226.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 106.0, 103.0, 100.0, 97.1]
[108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 106.0, 103.0, 100.0, 97.1]
[108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 106.0, 103.0]
[108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 108.0, 'Nan', 'Nan', 'Nan', 'Nan']
[108.0, 108.0, 108.0, 108.0, 108.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 117.0, 114.0, 112.0, 110.0, 108.0, 106.0, 103.0, 100.0, 97.1]
[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 99.6, 96.7, 95.5, 93.8, 91.5, 90.2, 87.7, 85.3, 82.4]
[118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 117.0, 114.0, 112.0, 110.0, 108.0, 106.0, 103.0, 100.0, 97.1]
[118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 117.0, 114.0, 112.0, 110.0, 108.0, 'Nan', 'Nan', 'Nan', 'Nan']
[138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 137.0, 134.0, 130.0]
[138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 135.0, 130.0]
[138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 138.0, 'Nan', 'Nan', 'Nan', 'Nan']
[118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 'Nan', 'Nan', 'Nan', 'Nan']
[101.0, 101.0, 101.0, 101.0, 101.0, 101.0, 101.0, 101.0, 101.0, 101.0, 101.0, 'Nan', 'Nan', 'Nan', 'Nan']
[118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 'Nan', 'Nan', 'Nan', 'Nan']
[167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 167.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 205.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 207.0, 205.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 235.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 235.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 236.0, 235.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[265.0, 260.0, 254.0, 254.0, 253.0, 252.0, 249.0, 248.0, 245.0, 234.0, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']
[108.0, 107.0, 106.0, 105.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 102.0]
[108.0, 107.0, 106.0, 105.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 104.0, 'Nan', 'Nan', 'Nan', 'Nan']
[118.0, 117.0, 116.0, 115.0, 114.0, 112.0, 109.0, 106.0, 104.0, 103.0, 102.0, 'Nan', 'Nan', 'Nan', 'Nan']
[118.0, 118.0, 115.0, 114.0, 114.0, 114.0, 114.0, 113.0, 112.0, 110.0, 109.0, 107.0, 106.0, 103.0, 101.0]
[118.0, 117.0, 116.0, 114.0, 114.0, 114.0, 114.0, 113.0, 112.0, 110.0, 109.0, 107.0, 106.0, 103.0, 101.0]
[118.0, 117.0, 116.0, 114.0, 114.0, 114.0, 114.0, 113.0, 112.0, 110.0, 109.0, 107.0, 106.0, 103.0, 101.0]
[100.0, 100.0, 98.2, 97.0, 96.5, 96.5, 96.5, 95.8, 94.7, 93.4, 92.2, 91.0, 89.7, 87.9, 85.7]
[118.0, 118.0, 115.0, 114.0, 114.0, 114.0, 114.0, 113.0, 112.0, 110.0, 109.0, 107.0, 106.0, 103.0, 101.0]
[118.0, 117.0, 116.0, 114.0, 114.0, 114.0, 114.0, 113.0, 112.0, 110.0, 109.0, 107.0, 106.0, 103.0, 101.0]
[118.0, 117.0, 116.0, 114.0, 114.0, 114.0, 114.0, 113.0, 112.0, 110.0, 109.0, 107.0, 106.0, 103.0, 101.0]
[120.0, 120.0, 118.0, 116.0, 115.0, 114.0, 114.0, 114.0, 114.0, 114.0, 114.0, 114.0, 114.0, 113.0, 110.0]
[120.0, 120.0, 117.0, 116.0, 116.0, 116.0, 115.0, 115.0, 115.0, 115.0, 115.0, 115.0, 115.0, 115.0, 112.0]
[123.0, 123.0, 120.0, 119.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 118.0, 116.0]
[126.0, 126.0, 123.0, 122.0, 121.0, 121.0, 118.0, 115.0, 114.0, 112.0, 111.0, 109.0, 107.0, 105.0, 103.0]
[126.0, 126.0, 124.0, 122.0, 121.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 117.0]
[126.0, 126.0, 123.0, 122.0, 121.0, 121.0, 121.0, 121.0, 121.0, 121.0, 121.0, 121.0, 121.0, 120.0, 119.0]
[126.0, 126.0, 124.0, 122.0, 121.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 120.0, 117.0]
[126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 126.0, 123.0, 118.0]

In [34]:
import pandas as pd

def list_from_stroka(filename, No):
    file_path = filename

    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            lines = file.readlines()  # Считываем все строки файла
            
            # Проверяем, что номер строки находится в допустимых пределах
            if 1 <= No <= len(lines):
                string = lines[No - 1].strip()
 #               print(f"Строка номер {No}: {lines[No - 1].strip()}")
            else:
                print(f"Ошибка: файл содержит только {len(lines)} строк(и).")
    except FileNotFoundError:
        print(f"Ошибка: файл '{file_path}' не найден.")
    except UnicodeDecodeError:
        print(f"Ошибка: не удалось декодировать файл. Проверьте его кодировку.")


    # Результирующий список
    result = string.split()

    # Выводим результат
 #   print(result)

    # Исходный список
    original_list = result

    # Результирующий список
    new_list = []

    for item in original_list:
        if isnumber(item):  # Если элемент представляет число
            new_list.append(float(item))  # Преобразуем в число и добавляем
        else:  # Если элемент не число
            new_list.extend(['Nan'] * len(item))  # Добавляем 'Nan' столько раз, какова длина элемента

    # Выводим результат
    return new_list

def isnumber(item):
    try:
        # Попытка преобразовать в float
        number = float(item)
        return True
    except ValueError:
        return False        # Если ошибка преобразования

list_i =  [5493, 5725, 5960, 6192, 6420, 6648, 6876, 7104, 7332, 7560, 7788, 8016, 8244, 
           8472, 8700, 8929, 9174, 9419, 9648, 9876, 10105, 10335, 10564, 10792, 11020, 
           11248, 11476, 11709, 11942, 12170, 12399, 12628, 12856, 13084, 13312, 13543, 
           13774, 13949]
len0 = 38




list_of_list = []

for i in range(len0 - 1):
    Novhoda = list_i[i]
    No = Novhoda
    head = list_from_stroka('initialASME.txt', No)
    print(head)
    for No in range(Novhoda + 1, Novhoda + 46):
        string = list_from_stroka('initialASME.txt', No)
        string.pop(0)
        list_of_list.append(string)

for i in range(len0 - 1, len0):
    Novhoda = list_i[i]
    No = Novhoda
    head = list_from_stroka('initialASME.txt', No)
    print(head)
    for No in range(Novhoda + 1, Novhoda + 19):
        string = list_from_stroka('initialASME.txt', No)
        string.pop(0)
        list_of_list.append(string)


df = pd.DataFrame(list_of_list, columns=head)
df.to_csv("Tabl1A.csv", index=False)

[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
[40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]

In [90]:
#mask = df[475.0] > 40 and df[475.0] < 40.2
mask = df[475.0] == 37.7
filtered_df = df[mask]

In [77]:
filtered_df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
9,78.6,78.6,78.6,78.6,78.6,78.6,78.6,78.1,77.1,74.7,71.4,62.3,54.2,47.6,37.7
12,78.6,78.6,78.6,78.6,78.6,78.6,78.6,78.1,77.1,74.7,71.4,62.3,54.2,47.6,37.7
14,78.6,78.6,78.6,78.6,78.6,78.6,78.6,78.1,77.1,74.7,71.4,62.3,54.2,47.6,37.7

In [87]:
mask = df[475.0] > 44.6
filtered_df = df[mask]

TypeError: '>' not supported between instances of 'str' and 'float'

In [91]:
df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
0,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
1,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
2,88.9,88.9,88.9,88.9,88.9,88.4,85.0,80.7,78.4,75.8,73.5,71.5,64.0,56.1,44.5
3,88.9,88.9,88.9,88.9,88.9,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
4,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1661,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1662,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1663,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1664,177.0,177.0,177.0,174.0,171.0,168.0,168.0,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan

In [88]:
df[475.0]

0         Nan
1         Nan
2        44.5
3         Nan
4         Nan
        ...
1660    113.0
1661     85.3
1662    113.0
1663     85.3
1664      Nan
Name: 475.0, Length: 1665, dtype: object

In [86]:
filtered_df

Empty DataFrame
Columns: [40.0, 65.0, 100.0, 125.0, 150.0, 200.0, 250.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0]
Index: []

In [81]:
df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
0,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
1,78.6,78.6,78.6,78.6,78.6,78.6,76.0,71.6,69.6,67.8,Nan,Nan,Nan,Nan,Nan
2,88.9,88.9,88.9,88.9,88.9,88.4,85.0,80.7,78.4,75.8,73.5,71.5,64.0,56.1,44.5
3,88.9,88.9,88.9,88.9,88.9,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
4,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1661,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1662,141.0,141.0,139.0,135.0,132.0,126.0,123.0,121.0,120.0,119.0,118.0,117.0,116.0,115.0,113.0
1663,141.0,135.0,128.0,123.0,118.0,110.0,104.0,100.0,97.6,95.3,93.4,90.9,89.1,87.2,85.3
1664,177.0,177.0,177.0,174.0,171.0,168.0,168.0,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan

In [80]:
filtered_df

,40.0,65.0,100.0,125.0,150.0,200.0,250.0,300.0,325.0,350.0,375.0,400.0,425.0,450.0,475.0
2,88.9,88.9,88.9,88.9,88.9,88.4,85.0,80.7,78.4,75.8,73.5,71.5,64.0,56.1,44.5
5,88.9,88.9,88.9,88.9,88.9,88.9,88.9,86.3,83.8,81.4,78.8,73.4,64.0,56.1,44.5
7,88.9,88.9,88.9,88.9,88.9,88.9,88.9,88.5,87.5,84.8,81.2,73.4,64.0,56.1,44.5
8,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5
10,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5
11,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5
13,92.4,92.4,92.4,92.4,92.4,92.4,92.4,91.9,90.7,87.8,84.3,73.3,63.9,56.2,44.5